LoadModule php5_module        modules/mod_php55.so
AddType  application/x-httpd-php         .php
AddType  application/x-httpd-php-source  .phps
AddHandler php5-script .php
AddHandler application/x-httpd-php .php5 .php4 .php .php3 .php2 .phtml
